.body{
	background-color: rgb(168, 168, 214);
	background-position: auto;
}

h1 {color:  rgb(29, 29, 75);
	text-align: center;
	font-family: cursive;
	margin-top:-8px; 
}

.time{
    margin-left: 160px;
    height: 30px;
	background-color:rgb(180,209,180);
	margin-bottom: 20px;
	color: rgb(29, 29, 75);
	font-weight: bold;
}

#d1{
    margin-left: 160px;
    font-weight: bold;
	color: rgb(29, 29, 75);
	margin-top:-10px;

}

.container{
      margin: 0 auto;
	  
}
	  
.cal-container {
	padding: 20px;
	background: wheat;
	width: 250px;
	height: 465px;
	border-radius: 15px;
	box-shadow: 10px 10px 5px #888888;	   
	-moz-box-shadow: 10px 10px 5px #888888;
	-webkit-box-shadow: 10px 10px 5px #888888;
	margin: 10px auto;
	margin-top: 50px;
}

#box {
      width:100%; 
      height: 40px; 
	  border:1px solid ; 
	  border-style: inset;
      background: rgb(180,209,180); 
      font-size: 30px; 
      text-align: right;
      color: black;
	  margin: 0 auto;
	  margin-bottom: 8px;

	
} 



.btn-container {
	margin: 10px 5px;
	background: rgb(224, 213, 213);
}

.btn{
	height: 40px;
	width: 40px;
      padding: 10px; 
      background: #291616; 
      color: #fff; 
	border: none;
      margin: 8px; 
      font-size: 15px;    
	box-shadow: 1px 1px 1px #000;
	-moz-box-shadow: 1px 1px 1px #000;
	-webkit-box-shadow: 1px 1px 1px #000;
    border-radius: 10px;
}

.btn:hover {background-color: #000}

.btn:active {
  background-color: #000;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

.solvebtn {
	width:100px;
	background: #298129;
	border-radius: 10px;
}

.solvebtn:hover {background-color: #013e01;}

.solvebtn:active {
  background-color: #013e01;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

.cbtn {
	background: rgb(209, 3, 3); 
	border-radius: 10px;
}

.cbtn:hover {background-color: #b70505}

.cbtn:active {
  background-color: #744141;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

#footer {
	position: fixed;
	left:0px;
	bottom:0px;
	height:30px;
	width:100%;
	background:rgb(29, 29, 75);
	text-align: center;
	margin: 0px auto;
	padding: 10px;
	color: #fff;
}
